$gitlab: #dd5b3f;
$github: #212529;

.gitlab {
    transition: 0.2s ease-in-out;
    &:hover {
        background-color: lighten($gitlab, 5);
        border-color: lighten($gitlab, 5);
    }
    background-color: $gitlab;
    border-color: $gitlab;
    color: white;
}

.github {
    transition: 0.2s ease-in-out;
    &:hover {
        background-color: lighten($github, 5);
        border-color: lighten($github, 5);
    }
    background-color: $github;
    border-color: $github;
    color: white;
}