---
title: Javascript evaluator
date: 2018-12-25T08:00:00+00:00
priority: -1
---

<style scoped>
    #js-land {
        width: 100%;
        height: 20rem;
    }
</style>

<form>
    <div class="form-group">
        <input type="checkbox" id="js-format" checked="true"> Syntax Highlighting</input>
    </div>
    <div class="form-group">
        <input type="checkbox" id="js-auto-eval" checked="true"> Auto Evaluate</input>
    </div>
    <div class="form-group">
        <button class="btn btn-primary form-control" id="js-eval" disabled> Evaluate</button>
    </div>
</form>

<div contenteditable="true" id="js-land">
</div>

<div> Result: <span id="js-result"></span></div>

<script>
    const autoEval = document.querySelector("#js-auto-eval")
    const evalBtn = document.querySelector("#js-eval")
    const elt = document.querySelector("#js-land")

    let lastStatusChange = new Date()

    const updateEvalBtnStatus = function _self(status) {
        lastStatusChange = new Date()

        evalStatus = status
        evalBtn.classList.remove("btn-danger")
        evalBtn.classList.remove("btn-primary")
        evalBtn.classList.remove("btn-success")

        const scheduleChangeIdle = ()=>{
            const timeout = autoEval.checked?3000:500;
            setTimeout(()=>{
                if (new Date()-lastStatusChange>=timeout) _self("idle")
            }, timeout)
        }

        switch (status) {
        case "working":
            evalBtn.disabled = true
            evalBtn.innerText = "Evaluating";
            evalBtn.classList.add("btn-primary");
            break
        case "idle":
            evalBtn.disabled = autoEval.checked
            evalBtn.innerText = "Evaluate";
            evalBtn.classList.add("btn-primary");
            break
        case "error":
            evalBtn.disabled = true
            evalBtn.innerText = "Error";
            evalBtn.classList.add("btn-danger");
            scheduleChangeIdle();
            break
        case "success":
            evalBtn.disabled = true
            evalBtn.innerText = "Success";
            evalBtn.classList.add("btn-success");
            scheduleChangeIdle();
            break
        }
    }

    evalBtn.disabled = autoEval.checked
    autoEval.onchange = ()=>{
        evalBtn.disabled = autoEval.checked
    }

    elt.innerText ='() => {\r\n"use strict";\r\nreturn "hello world";\r\n}\r\n'
    const doFormat = ()=>{
        if (document.querySelector("#js-format").checked) {
            try{
                hljs.highlightBlock(elt);
            } catch {}
        }
    };
    const doEval = ()=>{
        updateEvalBtnStatus("working")
        return new Promise((resolve, reject)=>{
            setTimeout(()=>{
                const cb = (res) => {
                    document.querySelector("#js-result").innerText = res
                }
                let content = elt.innerText
                try {
                    let res = eval(content)
                    if (typeof res == "function") {
                        cb(res())
                        updateEvalBtnStatus("success")
                        resolve()
                    } else {
                        cb(res)
                        updateEvalBtnStatus("success")
                        resolve()
                    }
                } catch (e) {
                    cb(`Error: ${e.message}`)
                    updateEvalBtnStatus("error")
                    reject()
                }
            }, 20)
        })
    };

    evalBtn.onclick = (e)=>{
        e.preventDefault()
        doEval();
    }

    let lastEdit = null;

    elt.onkeydown = function (e) {
        {
            lastEdit = new Date();
            setTimeout(()=>{
                if (new Date()-lastEdit>=3000) {
                    doFormat();
                } 
            },3000)
        }
        if (autoEval.checked) {
            doEval()
        }
    };
    Promise.all([
        enqueue_stylesheet("hljs", "//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/styles/default.min.css", {
            integrity: "sha384-zhIsEafzyQWHSoMCQ4BfT8ZlRXQyIFwAHAJn32PNdsb8n6tVysGZSLpEEIvCskw4",
        }),
        enqueue_script("hljs", "//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/highlight.min.js", {
            integrity: "sha384-BlPof9RtjBqeJFskKv3sK3dh4Wk70iKlpIe92FeVN+6qxaGUOUu+mZNpALZ+K7ya",
        }),
    ]).then(doFormat)
    doEval();
</script>