{{if .Params.featured_image}}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{absURL .Params.featured_image}}" />
{{else}}
<meta name="twitter:card" content="summary" />
{{end}}
<meta name="twitter:site" content="@eternalflame_AD" />
<meta name="twitter:creator" content="@eternalflame_AD" />
<meta name="twitter:title" content="{{ .Title | safeHTML | truncate 60 }}" />
{{ $desc := "" }}
{{if .Params.signature }}
    {{ $desc = .Params.signature }}
{{else if .Summary }}
    {{ $desc = .Summary }}
{{end}}
{{ $desc = $desc | safeHTML | truncate 180}}
{{if not (eq $desc "")}}<meta name="twitter:description" content="{{$desc}}" />{{end}}