{{ $desc := (cond .IsHome .Site.Params.Description .Description)}}
{{if not (eq $desc "")}}<meta name="description" content="{{$desc}}">{{end}}
<meta name="author" content="eternal-flame-AD">
<meta name="keywords" content="{{delimit (uniq (union (slice "blog" "eternal-flame-AD" "personal" "programming" "athlete" "running") (union .Params.tags .Params.categories))) ", "}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="google-site-verification" content="VFZaZCmxO95OEGIY9utBUlFUTaqVCdi_dYruVbuBLzA" />
{{ partial "meta_twitter.html" . }}