<nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
    <div class="navbar-header">
        <a class="navbar-brand">(^_^)</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav-main">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{{if .IsHome}} active{{end}}"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item{{if ge (len .URL) 6}}{{if (eq (slicestr .URL 0 6) `/blog/`)}} active{{end}}{{end}}"><a href="/blog/" class="nav-link">Blog</a></li>
            <li class="nav-item{{if ge (len .URL) 6}}{{if (eq (slicestr .URL 0 6) `/tool/`)}} active{{end}}{{end}}"><a href="/tool/" class="nav-link">Toolkit</a></li>
            <li class="nav-item{{if ge (len .URL) 7}}{{if (eq (slicestr .URL 0 7) `/about/`)}} active{{end}}{{end}}"><a href="/about/" class="nav-link">About</a></li>
        </ul>
        <div class="d-none d-lg-block">
        <button class="btn my-2 my-sm-0 gitlab" onClick="window.location.href='https://gitlab.com/eternal-flame-AD'"><i class="fab fa-gitlab"></i>&nbsp;Follow me on GitLab</button>&nbsp;
        <button class="btn my-2 my-sm-0 github" onClick="window.location.href='https://github.com/eternal-flame-AD'"><i class="fab fa-github"></i>&nbsp;Follow me on GitHub</button>&nbsp;
        </div>
    </div>
</nav>