        <footer>
            <hr />
            © {{now.Format "2006"}} Eternal-flame-AD
            <div class="text-middle text-muted">Managed with GitLab. Generated with Hugo. Hosted on Netlify.<br /> </div>
        </footer>
    </body>
    {{partial "explicitcmt.html" (add "Site built at " (now.Format "2006-01-02T15:04:05Z07:00"))}}
</html>