<a class="twitter-timeline" data-dnt="true" data-link-color="#Ffb7dd" href="https://twitter.com/eternalflame_AD?ref_src=twsrc%5Etfw"></a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>