<script
  src="{{ ((resources.Get "/github-calendar/dist/github-calendar.min.js") | resources.Fingerprint "md5" ).Permalink }}"
>
</script>

<link
  rel="stylesheet"
  href="{{ ((resources.Get "github-calendar/dist/github-calendar-responsive.css") | resources.Fingerprint "md5" ).Permalink }}"
/>

<style>
    @media only screen and (max-width: 768px) {
        .graph-before-activity-overview  {
            display: none;
        }
    }
    #user-activity-overview {
        display: none;
    }
</style>

<!-- Prepare a container for your calendar. -->
<div class="calendar" id="calendar-{{index .Params 0}}">
    Loading GitHub contribution chart for {{index .Params 0}}.
</div>

<script>
    new GitHubCalendar(
        "#calendar-{{index .Params 0}}",
        "{{index .Params 0}}",
        {
            responsive: true, 
            proxy: (url)=>`/.netlify/functions/request?url=${url}`,
        }
    );
</script>