{{with .Site.Data.race }}
    <table>
        <thead>
            <tr>
                <td rowspan="2">Date</td>
                <td rowspan="2">Race</td>
                <td rowspan="2">Type</td>
                <td colspan="2">Time</td>
                <td rowspan="2">PB</td>
            </tr>
            <tr>
                <td>Net Time</td>
                <td>Gun Time</td>
            </tr>
        </thead>
        <tbody>
            {{ $races := slice }}
            {{- range . -}}
            {{ $races = append $races (slice .) }}
            {{- end -}}
            {{range sort $races "date" "desc"}}
            <tr>
                <td>{{.date}}</td>
                <td>{{.name}}</td>
                <td>{{.type}}</td>
                <td>{{.time.net}}</td>
                <td>{{.time.gun}}</td>
                <td>{{if not ( where (where $races "type" .type) "time.net" "lt" .time.net )}}{{":white_check_mark:" | emojify}}{{end}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
{{end}}