<div class="container-fluid">
    <iframe height="160" width="300" frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/{{ index .Params 0}}/activity-summary/{{ index .Params 1}}'></iframe>
</div>
<div class="container-fluid">
    <iframe height="454" width="300" frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/{{ index .Params 0}}/latest-rides/{{ index .Params 1}}'></iframe>
</div>